@font-face {
  font-family: schwifty;
  src: url('../public/fonts/get_schwifty.ttf');
}
@font-face {
  font-family: rickmorty;
  src: url('../public/fonts/rickmorty.ttf');
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1{
  font-size: 2.2rem;
  font-family: rickmorty;
  color: #4cadca;
  /* -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #d2da4b; */
}

body{
  background-color: black;
}

p{
  color: white;
}

section{
  border-style: solid;
  border-color: red;
}